<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<p>Hi PLAYER_NAME,</p>
<div>Just wanted to let you know we were able to fill this spot.</div>
<div><br></div>
<div>Thanks<br><br><div class="gmail_quote">EMAIL_DATE LEAGUE_NAME <span dir="ltr">&lt;<a href="mailto:LEAGUE_EMAIL" target="_blank">LEAGUE_EMAIL</a>&gt;</span> wrote:<br><blockquote class="gmail_quote" style="margin:0 0 0 .8ex;border-left:1px #ccc solid;padding-left:1ex">Hi PLAYER_NAME,<br><br>

Our regular keeper -REGULAR_GOALIE- can't play this <b>GAME_DAY</b> (GAME_TIME) @GAME_LOCATION<br><br>

Can you play ?<br><br>

<a href="URL_BASE/rsvp.html?email=PLAYER_EMAIL&action=request"><font size="4"><b style="color: rgb(51, 51, 255);">I can play</b></font></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="URL_BASE/rsvp.html?email=PLAYER_EMAIL&action=out"><font size="4"><b><span style="color: rgb(102, 51, 102);">I can't make it</span></b></font></a><br>
<br>
</blockquote></div><br></div>