<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">Hi PLAYER_NAME,<br><br>

<div>Please confirm for this <strong>GAME_DAY</strong> (GAME_TIME) at GAME_LOCATION:</div>
<br>
<button href="URL_BASE/rsvp.cgi?email=PLAYER_EMAIL&action=in" target="_blank" style="size:4; font-weight:bold; color: rgb(51, 51, 255);">I'll be there !</button>&nbsp;&nbsp;&nbsp;&nbsp;
<button href="URL_BASE/rsvp.cgi?email=PLAYER_EMAIL&action=out" target="_blank" style="size:4; font-weight:bold; color: rgb(184, 0, 0);">I can't make it</button><br><br>
<a href="URL_BASE/rsvp.cgi?email=PLAYER_EMAIL&action=out" target="_blank" style="text-decoration:none; font-size: 14px; line-height: 20px; background-color: #DA4F49; background-image: linear-gradient(to bottom, #EE5F5B, #BD362F);background-repeat: repeat-x; -webkit-border-radius: 3px; border-radius: 3px; display: inline-block; padding: 2px 4px; font-weight: bold; color: #ffffff;">I can't make it</a><br>
<a href=URL_BASE/rsvp.cgi?email=PLAYER_EMAIL&action=att style="size:4; color:rgb(51, 51, 255);" target="_blank">who's coming</a><br><br>


<br>                        
Thanks !<br>
ORGANIZER
