<meta http-equiv="Content-Type" content="text/html; charset=utf-8">Hi ORGANIZER,<br>
<div>An RSVP system as been setup for your league: EMAIL_ACCOUNT_NAME.</div>
<div>
The <a href="URL_BASE/admin/" style="font-weight:bold; size:4;color: rgb(51, 51, 255);">League Administration</a> pages will allow you to manage the following:
<ul>
<li>Roster (regulars and spares)</li>
<li>Check Attendance</li>
<li>Update League Info (including game time/location etc)</li>
<li>Send group emails</li>
</ul>
<div style="color: rgb(255, 0, 0);">The administrator userid and password will be sent to you separately.</div>
<br>
Scott