<meta http-equiv="Content-Type" content="text/html; charset=utf-8">Hi PLAYER_NAME,<br><br>

A spot has opened up for this <b>GAME_DAY</b> (GAME_TIME) @GAME_LOCATION, are you still interested ?
<br><br>

<a href="URL_BASE/rsvp.html?email=PLAYER_EMAIL&action=request"><font size="4"><b style="color: rgb(51, 51, 255);">I'd like to come</b></font></a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="URL_BASE/rsvp.html?email=PLAYER_EMAIL&action=out"><font size="4"><b><span style="color: rgb(102, 51, 102);">I can't make it</span></b></font></a><br>
<br><br>
<a href="URL_BASE/rsvp.html?email=PLAYER_EMAIL&action=removeMe"><font size="2"><b style="color: rgb(255,0,0);">please remove me from the list</b></font></a><br>