<meta http-equiv="Content-Type" content="text/html; charset=utf-8">Hi PLAYER_NAME,<br><br>

Welcome to the EMAIL_ACCOUNT_NAME RSVP system.<br><br>

Please click on the "Confirm Me !" link below to confirm your registration with
the EMAIL_ACCOUNT_NAME RSVP system.<br><br>

<a href="URL_BASE/got-it.html?email=PLAYER_EMAIL"><font size="4"><b style="color: rgb(51, 51, 255);">Confirm Me !</b></font></a><br><br>

If you do not see a link above, please reply to this email and indicate that you recieved it.<br><br>

Thanks !<br>
ORGANIZER
