<meta http-equiv="Content-Type" content="text/html; charset=utf-8">Hi PLAYER_NAME,<br><br>

<div>We haven't heard from you this week, please confirm for this <strong>GAME_DAY</strong> (GAME_TIME) at the GAME_LOCATION:</div>
<br>
<a href="URL_BASE/rsvp.cgi?email=PLAYER_EMAIL&action=in"><font size="4"><b style="color: rgb(51, 51, 255);">I'll be there !</b></font></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="URL_BASE/rsvp.cgi?email=PLAYER_EMAIL&action=out"><font size="4"><b style="color: rgb(184, 0, 0);">I can't make it</b></font></a><br><br>
Thanks !<br>
ORGANIZER
